<p-dialog [(visible)]="changePassword" [style]="{width: '450px', height: '450px'}" header="Login Page" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" [formGroup]="changePasswordFrom">
    <div class="authorization">
      <h5>email or User ID</h5>
      <div>
        <h5>Old Password</h5>
        <p-password id="oldPassword" formControlName="oldPassword" [toggleMask]="true"></p-password>
      </div>
      <div>
        <h5>New Password</h5>
        <p-password id="newPassword" formControlName="newPassword" [toggleMask]="true"></p-password>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="ChangePassword" [disabled]="!changePasswordFrom.valid"  icon="pi pi-check" class="p-button-text" (click)="changePasswords()"></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<!--<app-authorization-page #authWindow></app-authorization-page>-->
