<p-dialog [(visible)]="loginDialog" [style]="{width: '450px'}" header="Login Page" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" [formGroup]="userLoginFrom">
    <div class="authorization">
      <h5>email or User ID</h5>
      <div class="p-field">
        <input type="text" pInputText id="emailOrUsrId" formControlName="emailOrUsrId"/>
      </div>
      <div>
        <h5>Password</h5>
        <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Login" [disabled]="!userLoginFrom.valid"  icon="pi pi-check" class="p-button-text" (click)="authorization()"></button>
  </ng-template>
</p-dialog>
<app-change-password [authWindow]="emailOrUsrId" #changePassWindow></app-change-password>
